@inherits LayoutComponentBase

<div class="pag">
    <div class="sideba">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blan">About</a>
        </div>

        <article class="content px-">
            @Body
        </article>
    </main>
</div>
